.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding-bottom: 24px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: #081456;
    text-align: center;
}